*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main{
    padding: 20px 15%;
    background-color: antiquewhite;
    color: crimson;
}

h1{
    color: red;
    text-align: center;
    font-family: fantasy;
    padding: 30px;
}

nav{
    text-align: center;
    padding: 30px;
}

nav>a{
    color: red;
    text-decoration: none;
    margin: 0 13px;
}

nav>a:hover{
    color: rgb(212, 9, 9);
    border: 1px solid rgb(212, 9, 9);
    border-radius: 5px;
    padding: 5px;
}

footer{
    padding: 20px 15%;
    background-color: rgb(255, 246, 232);
}

.texto{
    text-align: center;
}

.texto>h2{
    color: tomato;
}

.fotos{
    display: inline-block;
    text-align:left;
    width: 50%;
}

.imageness{
    height: 100px;
    max-width: 100%;
}

article{
    margin: 20px auto;
}

h2{
    text-align: center;
    font-family:fantasy;
    color:rgb(209, 42, 42);
}

p{
    margin: 10px;
    text-align:justify;
}

table{
    width: 60%;
    margin: 20px auto;
    background-color:rgb(255, 172, 158);
    text-align: center;
}

th, td{
    border-bottom: 3px solid antiquewhite;
    padding: 2px;
}

.enlaces{
    text-align: right;
}

.enlaces>a>img{
    width: 100px;
    border-radius: 10px;
    margin: 10px;
}

.enlaces>a>img:hover{
    width: 200px;
    border: 5px solid  rgb(15, 63, 134);
    border-style: dotted;
    margin: 10px;
}

#ii>iframe{
    width: 50%;
    height: 310px;
}

audio{
    background-color: tomato;
    border-radius: 10px;
}

fieldset{
    padding: 2% 5% 5% 5%;
}

legend{
    font-size: x-large;
    text-align: center;
}

.fotos>img:hover{
    width: 100px;
    border: 5px solid  rgb(15, 63, 134);
    border-style: dotted;
    margin: 10px;
}


.ele{
    list-style-type: none;
    list-style-image: url('../imagen/sandia\ \(1\).png');
}

div{
    background-image: url('../imagen/a05007d0-fbd8-438d-a5b0-71373a7c2a51.jpg');
}

@font-face{
    font-family: 'poleth';
    src: url('../tipografia/Dancing_Script/DancingScript-VariableFont_wght.ttf');
}

h2:hover{
    font-family: 'poleth';
}

